<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Etusivu</title>
</head>
<body>
    <main>
        <h1>Etusivu</h1>
        <section class="section1">
            <form action="/email" method="POST">
                <label for="email">Sähköpostiosoite johon haluat arviot työnhaustasi.</label>
                <input type="email" id="email" name="email">
                <button>Lähetä</button>
            </form>
        </section>
    </main>
</body>
</html>